/* General Layout and Left Section */
.main-container {
    display: flex;
    height: 100vh;
}

.main-content_left {
    font-family: var(--font-txt);
    padding: 24px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width:720px;
}

.hero-title {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
}

.hero-subtext {
    font-size: 1.1rem;
    color: var(--white-05);
    line-height: 1.5;
}

.join-btn {
    width: 304px;
    height: 56px;
    background-color: var(--white-accent);
    color: var(--white-txt) !important;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: background 0.3s ease;
    font-weight: 600;
    letter-spacing: 2px;
    transition: background 0.3s ease, border 0.5s ease-in; 
}

.wiggle-text {
    display: inline-block; 
    transition: transform 0.3s ease; 
}


.join-btn:hover{
    background-color: var(--dark-fg1);
    border: 1px solid var(--white-bg);

}
.join-btn:hover .wiggle-text {
    animation: wiggle 0.5s ease-in-out infinite; /* Add the wiggle animation */
}

.stats {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.count-total{
    font-size: 1.8rem;
    margin: 0;
    color: var(--white-txt);
    font-weight: 500;
}



.stat-box p {
    font-size: 0.9rem;
    color: var(--white-05);
    margin-top: 4px;
    font-weight: 500;
}

/* Right Section for the Image Slider */
.main-content_right {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.slide-wrp{
    left: 6rem;
    position: relative;
    width: 363px;
    height: 609px;
}

#slide{
    margin-top:24px;
    height: 650px;
    position: relative;
}
.slide-wrapper {
    position: relative;
    width: 363px; /* match the expanded width */
    height: 609px;
  }
  
  #slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .item {
    width: 172px;
    height: 236px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left:-24%;
    transform: translate(-50%, -80%);
    border-radius: 14px;
    box-shadow: 3px 2px 10px  #505050;
    transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .item:nth-child(1),
  .item:nth-child(2) {
    width: 363px;
    height: inherit;
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: none;
  }
  
  .item:nth-child(3) {
    right: 50%;
    z-index: 0;
    opacity: 1;
  }
  
  .item:nth-child(n+4) {
    opacity: 0;
    right:calc(50% + 220px);

  }
.item:nth-child(5){
    opacity: 0;
    right:calc(50% + 440px);
}
.item:nth-child(n+6){
    right:calc(50% + 660px);
    opacity: 0;
}

 

.navbar{
    height: 60px !important;
    background: var(--dark-fg1) !important;
    /* border-bottom: 1px solid var(--dark-fg1); */
}
.navbar-brand{
    color: var(--white-accent) !important;
    font-size: 34px !important;
    

}
.active-tab,
.Find-tab{
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-accent);
}
.tab{
    border-bottom: 3px solid var(--white-accent);
}


.active-tab-container{
    display: inline-block;
    overflow: hidden;
    height: 30px;
    position: relative;
}

.active-tab{
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-accent);
    transform: translateY(100%);
    opacity: 0;
    animation: slideInTab 1s ease-out forwards;
}


.search_container{
    font-size: 14px;
    height: 36px;
    width: 480px;
    border-radius: 24px;
    padding-right: 21px;
    background: var(--dark-fg1);
    transition-property: background-color, border-color;
    /* border: 1px solid var(--white-txt); */

}
.seach-catergory{
    gap: 1px;
}

.seach-line{

    width: 2px;
    height: 16px;
    margin-left: 8px;
    background: var(--white-txt);
}

.form-custome{
    width: 24rem;
    height: 2rem;
    background: transparent ;
    outline: none;
    border: none;
    color: var(--white-fg) !important;
    font-size: 14px !important;
    font-weight: 400;

}

/* icons */
.seach-catergory svg.bx-icons
{
    fill: var(--dark-accent) !important;
    width: 24px;
    height: 24px;
    
}


.bx{
    cursor: pointer;
}

svg.help-icon,
svg.login-icon{
    width: 24px;
    height: 24px;
    fill: var(--white-05);
    transition: fill 0.3 ease;
}

svg.login-icon{
    transition:  transform 0.5s ease;
}

.login-btn{
    width: 120px !important;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    background: transparent;
    border: 1px solid var(--white-05);
    border-radius: 10px;
    transition:
            border 0.3s ease,
            box-shadow 0.3s ease,
            color 0.3s ease;
}


.login-btn{
        color: var(--white-05);
}




svg.help-icon:hover{
    fill: var(--white-accent);
}

.login-btn:hover svg.login-icon {
    fill: var(--white-accent);
    transform: translateX(5px);
}

.login-btn:hover {
    border: 1px solid var(--white-accent);
    box-shadow: 1px 1px 6px var(--white-accent);
    color: var(--white-accent);
}



.deactive-tab{
    display: none;
}


