<div class="atr-group-b view_tutor d-none">
  <div class="view_tutor_wrp tutor_wrp">
    <div class="tutor_card">

           <div class="info_container">
                  <div class="tutor_topic excusive"> 
                          

                    <div class="seperator"></div>
                                                        
                          <div class="description">
                                <div class="topic_discriptio_wrp truncated topic_view ">
                                  <div class="tutor_content topic_content">
                                     
                                </div>
                                </div>
                                                     
                                                    </div>
                                            </div>
                                              
                                     <div class="tutor_details view">
                                                        <small>
                                                            <span class="peso_icon">&#8369;</span> <span class="info" title="900"></span>
                                                        </small>
                                                        <small>
                                                            <i class=' details_icon bx bxs-user'></i> <span class="info"></span>
                                                        </small>
                                                        <small>
                                                            <i class='details_icon bx bxs-time-five'></i> <span class="info"></span>
                                                        </small>
                                                        <small>
                                                            <i class='details_icon bx bxs-id-card'></i> <span class="info"></span>
                                                        </small>
                                                        <small>
                                                            
                                                            <i class='details_icon bx bxs-calendar' style='color:#ffffff' ></i> <span class="info"></span>
                                                        </small>
                                                </div>


      </div>

    </div>
  </div>
</div>