<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard000.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root_page2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root_page4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root_page5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root_page6.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root_page7.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Astutor|{% block title %} Home {% endblock %}</title>
</head>
<body>


<div class="_nuxt">


    <div class="_layout">
        <div class="root atr-group-b">
            
            <div id="header" class="header header-transparent">
                <div id="header_wrp" class="header_wrp header_wrp-transparent">
                    <div class="header_inner">
                        <div class="header_left">
                            <div class="header-logo">
                                <a href="{{url_for('public_routes.index')}}" class="atr-icon iconfont icon-logo">Astutor</a>
                            </div>
                            <div class="header-tab-wrp">
                                <div class="header-tab">
                                    <p class="active-tab"></p>
                                    <p class="header-tab-name">Profile</p>
                                </div>
                                <div class="header-tab">
                                    <p class="header-tab-name">Catergory</p>
                                </div>
                            </div>
                        </div>

                        <div class="header_main">
                            <div class="atr-search-bar">
                                <form>
                                    <div class="atr-search-input">
                                        <div class="search_seive">
                                            <div class="atr-category-selector">
                                                <div class="atr-selected">
                                                    <div class="atr-selected_container">
                                                        <div class="atr-selected_label">
                                                            <svg class="category-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);">
                                                                <path d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm10 10h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zM17 3c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM7 13c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                        <div class="atr-selected_icon">
                                                            <i class='bx bxs-down-arrow'></i>
                                                        </div>

                                                        <span class="atr-selected_line"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="atr-autocomplete_label" style="overflow: hidden;">
                                            <div class="atr-autocomplete">
                                                <div class="atr-autocomplete_wrp">
                                                    <input type="text" placeholder="Find Tutor" class="atr-autocomplete_input">
                                                    <div role="button" class="atr-autocomplete_clear" style="display: none;">
                                                        <i class='bx bx-x'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <i class='bx bx-search' role="button"></i>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="header_right">
                            <div class="header-item header-message">
                                <div role="button" id="header-message" title="Message" class="header-item_button">
                                    <div class="header-item_icon">
                                        <i class='bx bxs-chat icon-chat'></i>
                                    </div>
                                </div>

                                <div id="my-float-dialog-msg" class="my-float-dialog-msg header-message-menu d-none">
                                    <h1 class="header-message-menu_title">Chat</h1>
                                    <div class="search-contact-wrp">
                                        <input type="text" class="chat-search" placeholder="Search contacts...">
                                    </div>
                                    
                                    <div class="contacts-container">
                                        <div class="contats_list">
                                          <ul class="ul-list-contact">
                                        
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="header-item header-notification">
                                <span class="header-notification_num" data-count="1"></span>
                                <div class="header-item_button" role="button" title="Message Notification">
                                    <div class="header-item_icon">
                                        <i class='bx bx-bell'></i>
                                    </div>
                                </div>
                            </div>
                            <div class="header-item header-account header-item-active">
                                <div class="header-avatar">
                                    <div class="atr-avatar atr-avatar_28">
                                        <img lazy="loaded" src="/static/slide-img/default-img.png" class="atr-avatar_img">
                                    </div>
                                </div>
                                <div id="my-float-dialog" class="my-float-dialog header-account-menu d-none">
                                    <div class="header-account-menu_scroll">
                                        <div class="header-account-menu_section">
                                            <div class="header-account-menu_title">
                                                My Information
                                            </div>
                                            <ul>
                                                <li class="header-account-menu_item">
                                                    <a id="http://127.0.0.1:5000/api/dashboard/Astutor-tutor" href="#" class="header-account-item_content">
                                                        <i class='hover-avatar bx bx-home-alt-2' style='color:#ffffff' ></i>
                                                         <span>Personal HomePage</span>
                                                    </a>
                                                    
                                                </li>
                                                <li class="header-account-menu_item">
                                                    <a href="#" class="header-account-item_content">
                                                        <i class='hover-avatar bx bx-cog'></i>
                                                        <span>Setting</span>
                                                    </a> 
                                                </li>
                                                <li class="header-account-menu_item">
                                                    <a id="logout" href="javascript:void(0);" class="header-account-item_content">
                                                        <i class=' hover-avatar bx bx-power-off' style='color:#ffffff' ></i>
                                                        <span>log out</span>
                                                    </a>
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="logout-confirmation"  class="logout-confirmation d-none">

                                        <div class="logout-confirmation">
                                            <div class="logout-card">
                                                <h4>Log out?</h4>
                                                <p>Are you sure you want to log out?</p>
                                                <div class="mt-4">
                                                    <button id="logout-yes" class="btn btn-danger me-2">Yes</button>
                                                    <button id="logout-no" class="btn btn-secondary">No</button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>



            
                <!-- Main content -->
              {% block header %}
                <div class="home-layer home-center-bg top-0">
                    
                       <div class="home_content">
                        <div class="find_tutor">
                            <h2>Find Your Perfect Tutor</h2>
                             <p>Looking for the best tutors in your area? Search by name or rate to find a tutor that fits your needs!</p>
                        </div>

                       </div>
                </div>
    
                <div class="home-page">
                    
                
                    <div class="main-root_page-content">
    
                        <div class="main_content-left main_root-left-bg home">

                           <div class="recommend recomended_container">
                             <div class="title_content">
                                <h2>Explore</h2>
                            </div>
                            <div class="tutor_card_container">
                            <ul class="tutors-ul recomended_ul">                               
                            </ul>
                            </div>
                           </div>

                         
                        </div>






                        <div class="main_content-right">
                            <div class="right_layout-sub">
                                <div class="right-stickly-scroll-wrp" style="height: 1539px;">
    
                                    <div class="right-stickly-scroll right-wrp" style="padding-bottom: 80px;">
    
                                        <div class="side-section create_lesson-card">
                                            <div class="side-section_header">
                                                <div class="section-title">
                                                        <span>Top Tutor</span>
                                                </div>
                                            </div>
                              
                                            <div class="side-section_body">
                                                <div class="create-data"></div>
                                                    <ul class="top_tutors">
                                                      
                                                        </ul>

                                               </div>
                                            <div class="side-section_footer"></div>
                                        </div>
                                       
                                    </div>
    
                                </div>
    
                            </div>
                        </div>
                    </div>

                {% endblock %}
                </div>

            
            
            
            
            {% block content%}

            {% include 'student/view_tutor.html' %}
            {% include 'student/enroled.html' %}
            {% include 'chat.html' %}
                

          {% endblock %}




        </div>
    </div>

</div>





<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_util.js') }}"></script>
<script src="{{ url_for('static', filename='api/api_dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='api/api_chats.js') }}"></script>
<script src="{{ url_for('static', filename='api/api_home.js') }}"></script>
<script src="{{ url_for('static', filename='js/chats.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/home.js') }}"></script>
</body>
</html>