{% extends 'base.html' %}
{% set namespace = "login" %}


{% block title %}Log In{% endblock %}


{% block content %}
  <section class="signIn-section d-flex bg-gradient justify-content-center  align-content-center"  data-content="Sign In">
   

    <div class="sign-parent d-flex justify-content-center  align-content-center">

        <div class="sign-parent-wrp ">

            <div class="sign-container m-5 d-flex align-content-center flex-column">

                <span class="create-sign">LogIn Account</span>

                <div class="error-msg">
                    <ul class="error-list"></ul>
                </div>


                <form method="POST">

                    <div class="signIn-wrp">

                        <div class="userdata email">
                            <div class="infield">
                                <input type="text" class="email input" required>
                                <span class="hightlight"></span>
                                <span class="bar"></span>
                                <label for="name">Email</label>
                            </div>
                        </div>

                        <div class="userdata password">
                            <div class="infield">
                                <input type="password" class="password input" required>
                                <span class="hightlight"></span>
                                <span class="bar"></span>
                                <label for="name">Password</label>
                                
                                <span class="password-toggle hidden">
                                    <svg class="eye-icon show-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
                                        <path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z">
                                    </path></svg>
                                    <svg class="eye-icon hide-icon hidden" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
                                        <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
                                        </path><path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z">
                                     </path></svg>
                                </span>
                            </div>
                        </div>

  


                        <div class="remember">
                            <div class="infield_remember">
                                <input type="checkbox" class="remember-checkbox">
                                <span class="remember-text">Remember Me</span>
                            </div>
                        </div>
                        

                    <button class="userdata login-submit disable-btn" > Submit</button>
                    </div>
                </form>


                <div class=" userdata terms">
                    <span class="terms-title">By using Astutor, you agree to our 
                        <a href="#" target="_blank" class="terms-accent">Terms of Service</a> and
                        <a href="#" target="_blank" class="terms-accent">Privacy Policy.</a>
                    </span>
                </div>



            </div>
            

        </div>

    </div>

  </section>

{% endblock %}
