
<!-- ABOUT SECTION -->
 <div class="form-section d-none" id="about-section">
    <h2>About</h2>
    <span>Start by creating your tutor profile. Your progress will be saved automatically as you go. You can return and continue at any time. </span>
    <form id="about-form-tutor" autocomplete="off">
        
        <div class="form-group">
            <label for="fname"> First Name </label>
            <input type="text" id="fname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="lname"> Last Name </label>
            <input type="text" id="lname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email"> Email </label>
            <input type="email" id="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="subTeach"> Subject You Teach </label>
            <select class="form-control" id="subject" required>
                     
            </select>
        </div>
        <div class="form-group" id="other-subject-group" style="display: none;">
            <label for="other-subject">Please specify your subject</label>
            <input type="text" id="other-subject" class="form-control" placeholder="Enter subject name">
        </div>
        

        <div class="form-group check-age">
            <input type="checkbox" id="confirm-age" name="confirm-age" class="form-control" required>
            <label for="first-name"> I confirm I'am over 18 </label>
        </div>

        <div class="form-group btn-groups">
            <button type="button" id="btn-next" class="btn btn-primary btn-prev-home"> Back </button>
            <button type="submit" id="btn-prev" class="btn btn-primary btn-next">Save and Continue</button>
        </div>

    </form>
</div>
