                                  
                                  <!-- SETUP PAYMENT -->
                                  <div class="form-section d-none" id="setup-section">
                                    <h2>Setup</h2>
                                    <div class="form-group btn-groups">
                                        <button type="button" id="btn-next" class="btn btn-primary btn-prev"> Back </button>
                                        <button type="submit" id="btn-prev" class="btn btn-primary btn-next">Save</button>
                                    </div>
                                  </div>