
<div class="transaction-modal d-none">

    <div class="transaction-modal-overlay">



        <div class="transaction-modal-content">


            <div class="transaction-modal-header">

                <h2>Account Verification Details</h2>
                <span> <strong>Note: </strong>Make sure the information matches what you provided during your registration.</span>
                <a href="#">Learn More.</a>
            </div>


            <div class="transaction-form">
                <div class="form-group">
                    <label class="transaction-name">Name</label>
                    <input type="text" id="transaction-name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label class="transaction-name">Email</label>
                    <input type="email" id="transaction-email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label class="transaction-name">Phone number</label>
                    <small>e.g., GCash, PayMaya</small>
                    <input type="tel" id="transaction-number" name="name" placeholder="Enter your number" required>
                </div>

                <div class="form-action">
                    <button type="submit" class="verify-button">Verify</button>
                  </div>
            </div>


        </div>








    </div>
</div>
