
<div class="transaction-modal d-none">

    <div class="transaction-modal-overlay">



        <div class="transaction-modal-content">
 
            <i class=' closed-btn bx bx-x'></i>

            <div class="transaction-modal-header">

                <div class="trancation-header">
                    <h2 class="dmi_title">Account Verification Details</h2> 
                   
                    <!-- <i class='closed-btn bx bx-x dmi_close' style="color:  black;" undefined ></i> -->
                </div>
                
                <span> <strong>Note: </strong>Make sure the information matches what you provided during your registration.</span>
                <a href="#">Learn More.</a>
            </div>


            <div class="transaction-form">
                <div class="form-group">
                    <label class="transaction-name">Name</label>
                    <input type="text" id="transaction-fname" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label class="transaction-name">Lastname</label>
                    <input type="text" id="transaction-lname" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label class="transaction-name">Email</label>
                    <input type="email" id="transaction-email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label class="transaction-name">Phone number</label>
                    <small>e.g., GCash, PayMaya</small>
                    <input type="tel" id="transaction-number" name="name" placeholder="Enter your number" required>
                </div>

                <div class="form-action">
                    <button type="submit" class="verify-button">Verify</button>
                  </div>
            </div>


        </div>

        <div class="transaction-veri d-none" id="transactionSuccess">
            <div class="transaction-modal-header">
              <span><span class="account-user"></span> Account Verified</span>
              <button class="btn btn-secondary" id="Dmi-confirm">Confirm</button>
            </div>
          </div>


          <div class="transaction-veri d-none" id="transactionFailed">
            <div class="transaction-modal-header">
              <span>Account Verification Failed</span>
              <p class="text-muted">Note: Make sure you enter your correct details.</p>
              <button class="btn btn-secondary" id="cancelBtn">Cancel</button>
              <button class="btn btn-secondary" id="retryBtn">Try Again <span id="attempt">(3)</span></button>
            </div>
          </div>




        </div>
    </div>




    