
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard000.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard01.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard02.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/`.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Astutor|{% block title %} Home {% endblock %}</title>
</head>
<body>


<div class="_nuxt">


    <div class="_layout">
        <div class="root atr-group-b">

            {% block main %}
            

            <div id="header" class="header">
                <div class="header_wrp ">
                    <div class="header_inner">
                        <div class="header_left">
                            <div class="header-logo">
                                <a href="http://127.0.0.1:5000/" class="atr-icon iconfont icon-logo">Astutor</a>
                            </div>
                            <div class="header-tab-wrp">
                                <div class="header-tab">
                                    <p class="active-tab"></p>
                                    <p class="header-tab-name">Profile</p>
                                </div>
                                <div class="header-tab">
                                    <p class="header-tab-name">Catergory</p>
                                </div>
                            </div>
                        </div>
            
                        <div class="header_main">
                            <div class="atr-search-bar">
                                <form>
                                    <div class="atr-search-input">
                                        <div class="search_seive">
                                            <div class="atr-category-selector">
                                                <div class="atr-selected">
                                                    <div class="atr-selected_container">
                                                        <div class="atr-selected_label">
                                                            <svg class="category-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);">
                                                                <path d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm10 10h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zM17 3c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM7 13c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                        <div class="atr-selected_icon">
                                                            <i class='bx bxs-down-arrow'></i>
                                                        </div>
            
                                                        <span class="atr-selected_line"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="atr-autocomplete_label" style="overflow: hidden;">
                                            <div class="atr-autocomplete">
                                                <div class="atr-autocomplete_wrp">
                                                    <input type="text" placeholder="Find Tutor" class="atr-autocomplete_input">
                                                    <div role="button" class="atr-autocomplete_clear" style="display: none;">
                                                        <i class='bx bx-x'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <i class='bx bx-search' role="button"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
            
                        <div class="header_right">
                            <div class="header-item header-message">
                                <div role="button" title="Message" class="header-item_button">
                                    <div class="header-item_icon">
                                        <i class='bx bxs-chat icon-chat'></i>
                                    </div>
                                </div>
                            </div>
            
                            <div class="header-item header-notification">
                                <span class="header-notification_num" data-count="1"></span>
                                <div class="header-item_button" role="button" title="Message Notification">
                                    <div class="header-item_icon">
                                        <i class='bx bx-bell'></i>
                                    </div>
                                </div>
                            </div>
                            <div class="header-item header-account">
                                <div class="header-avatar">
                                    <div class="atr-avatar atr-avatar_28">
                                        <img lazy="loaded" src="/static/slide-img/default-img.png" class="atr-avatar_img">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="root-page-container">
            
                <div class="default-layout_topInfo">
                    <div data-top="356" class="atr-topinfo-wrp height" style="height: auto;">
                        <div class="atr-topinfo position-relative top-auto" style="height: auto; opacity: 1; display: block;">
                            <div class="atr-topinfo_container root-topinfo_container">
                                <div class="account-center-topinfo_container">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="main-page_container_content">
            
                    <div class="root-page-container_left root-page-container_left-bg">
            
                        <div class="atr-layout atr-account-center">
                            <div class="atr-main_page atr-main_layout">
                                <div class="atr-page-header atr-account-center_tab atr-page-header-md atr-page-header-block">
                                    <div class="atr-page-header-mask">
                                        <div class="atr-page-header-wrp">
                                            <div class="atr-page-header_content line">
                                                <div class="atr-switch_tab" id="atr-switch_tab">
            
                                                    <ul class="atr-switch-tab_list root-atr-switch-tab_list">
                                                        
                                                        <li class="atr-switch-tab_tag atr-switch-tab_tag-active" data-target="about-section">
                                                            <span class="atr-switch-tab_label">
                                                                <span>Start your journey</span>
                                                            </span>
                                                            <span class="atr-switch-tab_line"></span>
                                                        </li>
                                        
            
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                
                                <!-- root-atr-page-header-wrp -->
                                <div class="atr-account-center-content">
                                    <div class="atr-account-center-content-container">
            
                                        <div class="atr-acount-center-content-container-fillup">
            
                                              <div class="form-section" id="about-section">
                                                    <h2>Your journey Start here!</h2>
                                                    <span>Whether you're here to learn or teach, 
                                                        Astutor is your space to grow. Connect, share, and thrive in a community that values knowledge and purpose.
                                                    </span>
                                                    <div class="path-choose d-flex flex-column gap-3">
                
                                                        <button id="studentBtn" class="btn-path userTypeBtn  mx-2"> Student</button>
                                                        <button id="tutorBtn" class="btn-path userTypeBtn  mx-2">Tutor</button>
                                                        </div>
                                              </div>
            
            
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
            

            
                </div>
            
            </div>

            
            {% endblock %}

        </div>
    </div>


</div>





<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/utility.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/avail.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/education.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/video.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/setup.js') }}"></script>

<script src="{{ url_for('static', filename='api/api_tutor_profile.js') }}"></script>
<script src="{{ url_for('static', filename='api/student_scripts/api_student_profile.js') }}"></script>


<script src="{{ url_for('static', filename='api/tutor_scripts/api_tutor_profile.js') }}"></script>
<script src="{{ url_for('static', filename='api/tutor_scripts/api_avil.js') }}"></script>
<script src="{{ url_for('static', filename='api/tutor_scripts/api_video.js') }}"></script>
<script src="{{ url_for('static', filename='api/tutor_scripts/api_setup.js') }}"></script>
</body>
</html>
